{% extends "base.html" %}
{% block title %}Pollster: Answer Poll{% endblock %}
{% block content %}
<br>
<h3 style="text-align: center">{{question}}</h3>
<form method="POST">
    <div>
        {% for row in data.keys() %}
            <input type="checkbox" id={{data[row]['choice']}} name="keys" value={{data[row]['choice']}}>
            <label for={{data[row]['choice']}}>{{data[row]['text']}}</label>
            <br>
        {% endfor %}
    </div>
<br>
<button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
</form>
{% endblock %}