{% extends "base.html" %} {% block title %}Pollster: Admin Edit{% endblock %} {% block content
%}

<form method="POST">
    <h3 style="text-align: center">Edit Poll</h3>
    <div class="form-group">
        <label for="question">{{question}}</label>
        <input type="text" class="form-control" id="question" placeholder={{question}}>
        <small id="questionHelp" class="form-text text-muted">This will permenently change the poll.</small>
      </div>
    <div>
        {% for row in data.keys() %}
            <input type="text" id={{ data[row]['choice'] }} name="keys" value={{ data[row]['choice'] }}>
            <label for={{ data[row]['choice'] }}>{{ data[row]['text'] }}</label><br>
        {% endfor %}
    </div>
<br/>
<button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
<button type="delete" class="btn btn-primary btn-lg btn-block">Delete Poll</button>
{% endblock %}