{% extends "base.html" %} {% block title %}Pollster: View Polls{% endblock %} {% block content
%}

<br>
<form method="GET">
<h3 style="text-align: center">Poll History</h3>
<div>
    {% for row in data %}
            <br>
            <h4 style="text-align: left">{{row[5]}}</h4>
            <label>Poll ID: {{row[1]}}</label>
            <br>
            <label>Date: {{row[3]}}</label>
            <br>
            <label>Responses: {{row[8]}}</label>
            <br>
            <<button type="submit" class="btn btn-primary btn-lg btn-block">Edit</button>
            <br>
    {% endfor %}
</div>
</form>


{% endblock %}